.container-fluid.fixed-top.header.disable-selection
  .row
    .col
    .col-md-6
      .row
        .col
          h1
            strong Lab Raycaster
          //botton.btn.btn-danger(href='#',role='button', onclick='cameraSet()') Reset Camera
    .col

